@model IEnumerable<AttemptAtCoursework.Models.Vacancy>

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<script>
    $(document).ready(function () {
        $('.statusFilterButton').click(function () {
            var statusValue = $(this).val();
            $.ajax({
                url: '@Url.Action("SearchVacancyForStatus", "Vacancies")',
                type: 'GET',
                data: { statusValue: statusValue },
                success: function (vacancies) {
                    $('table').html(vacancies);
                },
                error: function () {
                }
            });
        });

    });
</script>

<h1>Список вакансий</h1>

<p>
    <a asp-action="Create">Создать новую вакансию</a>
</p>
<p>
    Фильтрация по статусу:<div>

        <button class="statusFilterButton" value="1">Рассматриваемое менеджером</button>
        <button class="statusFilterButton" value="2">Активное</button>
        <button class="statusFilterButton" value="3">Неактивное</button>
        <button class="statusFilterButton">Все статусы</button>
    </div>
</p>


@{
    Html.RenderPartial("_partialIndexTableWithVacancies");
}