@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в TalentBridge — ваш надежный партнер в мире карьеры!</h1>
    <h3>
        Мы — профессиональное кадровое агентство, специализирующееся на поиске и подборе талантов для компаний различных отраслей. Наши профессиональные менеджеры помогут работодателям найти идеальных сотрудников, а соискателям — реализовать свой потенциал и построить успешную карьеру.
        Работодатели здесь могут зарегистрировать свои компании на сайте и предлагать вакансии, а соискатели откликаться на них
        и отправлять свои резюме.
    </h3>
    @if (User.IsInRole("Manager"))
    {
        <h3>Вы вошли в систему как менеджер. Ваша цель — работать со справочником вакансий, резюме, компаний и должностей.
            С помощью справочников вы актуализируете информацию на сайте и помогаете находить сотрудников для компаний клиентов,
            а соискателям — помочь построить успешную карьеру.
        </h3>
}
    @if (User.IsInRole("Employer"))
    {
        <h3>Вы вошли в систему как работодатель. Здесь Вы можете зарегистрировать свою компанию на сайте и предлагать вакансии
            для поиска сотрудников. Наши профессиональные менеджеры помогут Вам найти наиболее подходящих Вам сотрудников.
        </h3>
    }
        @if (User.IsInRole("Applicant"))

    {

        <h3>
            Вы вошли в систему как соискатель. Здесь Вы можете откликнуться на вакансии, предложенные работодателями
            и отправлять свои резюме на них. Наши менеджеры помогут найти подходящую работу для Вас.
        </h3>
}
        @if (User.IsInRole("Admin"))

    {
        <h3> Вы вошли в систему как администратор. Ваша цель — следить за технической работоспособностью сайта, 
            работать со справочником зарегистрированных пользователей и регистрировать новых менеджеров, устроившихся 
            в нашу компанию.
        </h3>
    }


</div>
