@model IEnumerable<AttemptAtCoursework.Models.ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<script>
    $(document).ready(function () {
        $("#userEmailInput").keyup(function () {

            var userEmail = $.trim($(this).val());
            $.ajax({
                url: '@Url.Action("SearchUserForEmail", "Administrator")',
                type: 'GET',
                data: { userEmail: userEmail },
                success: function (users) {
                    $('table').html(users);
                },
                error: function () {
                }
            });
        });

    });
</script>

</p>
Поиск пользователя по почте:
<p><input id="userEmailInput" type="text" /></p>

    <a asp-area="Identity" asp-page="/Account/RegisterForManager">Зарегистрировать менеджера</a>

@{
    Html.RenderPartial("_partialUsersTable");
}