@model IEnumerable<AttemptAtCoursework.Models.Resume>

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<script>
    $(document).ready(function () {
    $("#applicantMailInput").keyup(function () {

        var applicantMail = $.trim($(this).val());
        $.ajax({
            url: '@Url.Action("SearchResumeForApplicantMail", "Resumes")',
            type: 'GET',
            data: { applicantMail: applicantMail },
            success: function (resumes) {
                    $('table').html(resumes);
            },
            error: function () {
            }
        });
    });

        $('.statusFilterButton').click(function () {
            var statusValue = $(this).val();
            $.ajax({
                url: '@Url.Action("SearchResumeForStatus", "Resumes")',
                type: 'GET',
                data: { statusValue: statusValue },
                success: function (resumes) {
                    $('table').html(resumes);
                },
                error: function () {
                }
            });
        });

    });


</script>

<h1>Список резюме</h1>

<p>
    <a asp-action="Create">Создать новое резюме</a>
</p>
Поиск резюме по почте соискателя:
<p><input id="applicantMailInput" type="text" /></p>

<p>
    Фильтрация по статусу:<div>

         <button class="statusFilterButton" value="1">Рассматриваемое менеджером</button>
        <button class="statusFilterButton" value="2">Активное</button>
        <button class="statusFilterButton" value="3">Неактивное</button>
        <button class="statusFilterButton" value="4">Принятое</button>
        <button class="statusFilterButton" value="5">Закрытое</button>
        <button class="statusFilterButton">Все статусы</button>
    </div>
</p>
@{
    Html.RenderPartial("_partialIndexTableWithResumes");
}
