@model IEnumerable<AttemptAtCoursework.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<script>
    $(document).ready(function () {
        $("#CompanyNameInput").keyup(function () {

            var companyName = $.trim($(this).val());
            $.ajax({
                url: '@Url.Action("SearchCompanyForName", "Companies")',
                type: 'GET',
                data: { companyName: companyName },
                success: function (companies) {
                    $('table').html(companies);
                },
                error: function () {
                }
            });
        });

        $('.statusFilterButton').click(function () {
            var statusValue = $(this).val();
            $.ajax({
                url: '@Url.Action("SearchCompanyForStatus", "Companies")',
                type: 'GET',
                data: { statusValue: statusValue },
                success: function (companies) {
                    $('table').html(companies);
                },
                error: function () {
                }
            });
        });

    });
</script>

<h1>Список компаний</h1>

<p>
    <a asp-action="Create">Создать новую компанию</a>
</p>

</p>
Поиск компании по названию компании:
<p><input id="CompanyNameInput" type="text" /></p>

<p>
    Фильтрация по статусу:<div>

        <button class="statusFilterButton" value="1">Рассматриваемое менеджером</button>
        <button class="statusFilterButton" value="2">Активное</button>
        <button class="statusFilterButton" value="3">Неактивное</button>
        <button class="statusFilterButton">Все статусы</button>
    </div>
</p>

@{
    Html.RenderPartial("_partialIndexTableWithCompanies");
}
