@model IEnumerable<AttemptAtCoursework.Models.WorkPosition>

@{
    ViewData["Title"] = "Index";
}

<h1>Список должностей</h1>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<script>
    $(document).ready(function () {
        $('.statusFilterButton').click(function () {
            var statusValue = $(this).val();
            $.ajax({
                url: '@Url.Action("SearchWorkPositionForStatus", "WorkPositions")',
                type: 'GET',
                data: { statusValue: statusValue },
                success: function (workPositions) {
                    $('table').html(workPositions);
                },
                error: function () {
                }
            });
        });

    });
</script>

<p>
    <a asp-action="Create">Создать новую должность</a>
</p>
<p>
    Фильтрация по должности:<div>

@*         <button class="statusFilterButton" value="1">Рассматриваемое менеджером</button> *@
        <button class="statusFilterButton" value="1">Активное</button>
        <button class="statusFilterButton" value="2">Неактивное</button>
        <button class="statusFilterButton">Все статусы</button>
    </div>
</p>

@{
    Html.RenderPartial("_partialIndexTableWithWorkPositions");
}
